<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chau Nguyen</title>
    <link rel="icon" href="../static/evil.ico">
</head>
<body>
    <div class="top-container"></div>
    <div class="title-text">
        <h1>I'm Chau Nguyen,</h1>
        <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <div class="middle-container"></div>
    <div class="profile">
        <h2>Hello, nice to meet you</h2>
        <p class="intro">I am a python developer. I like workout and singing.</p>

    </div>
    <hr>
        <div class="skills">
            <h3>Analysis and development</h3>
            <p> I love python .///</p>
        </div>
        <div class="skill-row">
            <h3>Hackathon</h3>
            <p>I have won 1st place of the challenge by FPT software in junctionX Hanoi 2021</p>
        </div>
    <hr>
    <div class="bottom-container"></div>
        <a class="footer-link" href="">LinkedIn</a>
        <a class="footer-link" href="https://www.facebook.com/profile.php?id=100081747292423">Facebook</a>
        <a class="footer-link" href="https://github.com/albertnguyen97">GitHub</a>
</body>
</html>